@import "./style/constants";


.container{
  >div{
    height: 200px;
    flex: 0 0 20%;
    margin: 2px;
  }
  >div{
    color: white;
    padding: 10px;
    overflow: hidden;
  }
  .box1{
    background: #51cb20;

  }
  .box2{
    background: #5cd453;

  }
  .box3{
    background: #2ca02c;

  }
  .box4{
    background: #80ad57;

  }
  .box5{
    background: #5cd453;

  }
  .box6{
    background: #87dd5c;

  }
  .box7{
    background: #58D68D;

  }
  .box8{
    background: #25C852;

  }
  .box9{
    background: #009933;

  }
  .box10{
    background: #33CC33;

  }
  .box11{
    background: #66CC00;

  }
  .box12{
    background: #7CB342 ;

  }
  .box13{
    background: #33CC66;

  }
  .box14{
    background: #92D81F;

  }
  .box15{
    background: #8BB743;

  }
}
